nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #e7e0f5bc;
  width: auto;
}

nav button {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  object-fit: contain;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.icons{
  
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Merriweather", serif;
  font-style: bold;
  font-weight: 800;
  font-size: larger;
}

.search-input {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.search-input input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.search-input button {
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.search-input button:hover {
  background-color: #c0b0ceb0;
}
